@import "$/scss/_vars";

.content {
    position: relative;

    // 125px is equal to the size of the footer + raid events
    height: calc(100% - 125px);

    overflow-x: hidden;
    overflow-y: scroll;
}

.action {
    position: absolute;
    display: flex;
    gap: 5px;
    align-items: center;
    background-color: $c_dark_mute;
    z-index: 1;
    width: 150px;
    height: 40px;
}

.action > p {
    font-size: 8rem;
}

.action > img {
    width: 40px;
    height: 40px;
}
