@import "$/scss/_vars";

.modal {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    padding: 16px;
    background-color: $c_dark_mute;
    border-radius: 16px;
}